<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/Site.css")
    <link rel="preconecte" href="https: //fonts.gstatic.com">
    <link href="https: //fonts.googleapis.com/css2? familia,Josefin+Slab:ital,wght@1,500&display-swap" rel="hoja de estilo">

</head>
<body>

    <div class="navbar navbar-dark">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Hospital Express", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-dark" })
            </div>
            <div class="navbar navbar-dark">
                <nav class="navbar-header">
                    @Html.ActionLink("Inicio", "Index", "Home", new { @class = "navbar-brand     btn btn-outline-primary text-dark" })
                    @Html.ActionLink("Contacto", "Contact", "Home", new { @class = "navbar-brand btn btn-outline-primary text-dark" })
                    @Html.ActionLink("Acerca ", "About", "Home", new { @class = "navbar-brand    btn btn-outline-primary text-dark" })

                    <h1> </h1>  <h1> </h1> <h1> </h1> <h1> </h1> <h1> </h1> <h1> </h1>


                    @if (User.Identity.IsAuthenticated)

                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Registros
                            </button>
                            <div class="dropdown-menu bg-light" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item bg-light text-dark" href="@Url.Action("Index","Trabajadors")">Alta de empleados</a>
                                <a class="dropdown-item bg-light text-dark" href="@Url.Action("Index","Doctors")">Alta de doctores</a>
                                <a class="dropdown-item bg-light text-dark" href="@Url.Action("Index","Hospitals")">Alta de hospitales</a>
                                <a class="dropdown-item bg-light text-dark" href="@Url.Action("Index","Actividads1")">Alta actividades</a>
                                <a class="dropdown-item bg-light text-dark" href="@Url.Action("Index","Pacientes")">Registrar un pacientes</a>
                                <a class="dropdown-item bg-light text-dark" href="@Url.Action("Index","AgregarActividads1")">Registrar una actividad</a>
                                <a class="dropdown-item bg-light text-dark" href="@Url.Action("Index","Registrar_Hospitals")">Registrar un hospital</a>
                                <a class="dropdown-item bg-light text-dark" href="@Url.Action("Index","Roles")">Asignacion de roles</a>

                            </div>
                        </div>
                    }
                    //PENDIENTE 
                    @*@if (User.IsInRole("Administrator"))
                    {
                        <a href="@Url.Action("Index","Roles")">ROLES</a>
                    }*@

                </nav>
                <div class="navbar navbar-dark">
                    <a> @Html.Partial("_LoginPartial", new { @class = "navbar-brand    btn btn-outline-primary text-dark" })</a>
                </div>
                </div>
            </div>
        </div>
       

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-white text-xl-center">
            <p>&copy; @DateTime.Now.Year -Hospital Express</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

