<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Site.css")
    <link rel="preconecte" href="https: //fonts.gstatic.com">
    <link href="https: //fonts.googleapis.com/css2? familia,Josefin+Slab:ital,wght@1,500&display-swap" rel="hoja de estilo">

</head>
<body>

    <div class="navbar navbar-dark">
        <div class="container">

            <div class="navbar navbar-dark">
                <nav class="navbar-header">
                                @Html.ActionLink("Hospital Express", "Index", "Home", new { area = "" }, new { @class = "navbar-brand text-dark fa-2x" })
                                @Html.ActionLink("Inicio", "Index", "Home", new { @class = "navbar-brand      text-dark" })
                                @Html.ActionLink("Contacto", "Contact", "Home", new { @class = "navbar-brand  text-dark" })
                                @Html.ActionLink("Acerca ", "About", "Home", new { @class = "navbar-brand     text-dark" })

                                @if (User.Identity.IsAuthenticated)

                                {
                                    <a href="@Url.Action("Index","Trabajadors")" class="navbar-brand text-dark">Empleados</a>
                                    <a href="@Url.Action("Index","Administradors")" class="navbar-brand  text-dark">Administrador</a>
                                    <a href="@Url.Action("Index","Doctors")" class="navbar-brand  text-dark">Doctor</a>
                                    <a href="@Url.Action("Index","Pacientes")" class="navbar-brand  text-dark">Pacientes</a>
                                    <a href="@Url.Action("Index","Hospitals")" class="navbar-brand  text-dark">Hospitales</a>
                                    <a href="@Url.Action("Index","Registrar_Hospitals")" class="navbar-brand  text-dark">Registrar Hospital</a>
                                    <a href="@Url.Action("Index","Actividads1")" class="navbar-brand  text-dark">Actividades</a>
                                    <a href="@Url.Action("Index","Registrar_Hospitals")" class="navbar-brand  text-dark">Registrar Actividad</a>




                                }
                            </nav>



                <div class="navbar navbar-dark">
                    <a> @Html.Partial("_LoginPartial", new { @class = "navbar-brand    btn btn-outline-primary text-dark" })</a>
                </div>
                </div>
            </div>
        </div>
       

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-white text-xl-center">
            <p>&copy; @DateTime.Now.Year -Hospital Express</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

