@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-brand" }))
    {
                    @Html.AntiForgeryToken()
   
            <div class="bg-white py-2 collapse-inner rounded navbar-brand">     
                <div class="bg-white py-2 collapse-inner rounded text-body">
                    <a href="@Url.Action("Details", "Profile")" title="Perfil">Bienvenido @User.Identity.GetUserName()</a>


                    <a href="javascript:document.getElementById('logoutForm').submit()" >Cerrar sesión</a>
                </div>
            </div>
           
    }
}
else
{

    @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { title="Register", id = "registerLink" });
    @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { title="Iniciar Sesion", id = "loginLink"});

}

        