@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar" }))
    {
                    @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li nav-item>
                   
            <a href="@Url.Action("Details", "Profile")" class="btn btn-outline-primary text-dark" title="Perfil">Bienvenido @User.Identity.GetUserName()</a>
                </li>
      
                <li>
                    <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-outline-primary text-dark mt-3">Cerrar sesión</a>
                </li>
            </ul>
    }
}


else
{

    @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { title="Register", id = "registerLink", @class = "btn btn-outline-primary text-dark mr-3" });
    @Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { title="Iniciar Sesion", id = "loginLink", @class = "btn btn-outline-primary text-dark" });

}

        @*</div>
    </div>
    </div>*@