@model PruebaGit.Web.Models.Actividad

@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm())
{
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card bg-info">
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h4 class="text-center mt-2">Actividad</h4>

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.ActividadId, htmlAttributes: new { @class = "control-label col-md-12 text-light" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ActividadId, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActividadId, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar cambios" class="btn btn-outline-dark" />

                                <div class="btn btn-outline-dark text-white float-xl-right">
                                    @Html.ActionLink("Regresar al Index", "Index")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
