@model IEnumerable<PruebaGit.Web.Models.Hospital>

@{
    ViewBag.Title = "Index";
}

<nav class="nav navbar-dark">
    @Html.ActionLink("Agregar un nuevo Hospital", "Create","Hospitals" ,new { @class = "navbar-brand text-dark" })
</nav>
         
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero_Hospital)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Numero_Hospital)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
